<a href="https://colab.research.google.com/github/journey-Ji/Python-/blob/main/Pandas%EC%8B%9C%EC%9E%91%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

colab을 이용하여 Pandas시작하기

# Pandas 시작하기

In [ ]:
import pandas as pd
array =pd.Series(['사과','바나나','당근'], index=['a','b','c'])
print(array)
print('\n')
print(array['a']) #index값을 추가로 넣어주면 해당 위치의 값을 출력

a     사과
b    바나나
c     당근
dtype: object


사과

In [ ]:
import pandas as pd
data={ #딕셔너리 자료형 생성
    'a':'사과',
    'b':'바나나',
    'c':'당근'
}
#Dict 자료형을 Series로 바꾸기
array = pd.Series(data) #Series()함수에 해당 dictionary 변수를 삽입
print(array['a'])

사과

데이터 프레임 ?



*   다수의 시리즈(Series)를 모아 처리하기 위한 목적으로 사용
*   표 형태로 데이터를 손쉽게 출력하고자 할 때 사용할 수 있다.

In [ ]:
import pandas as pd
word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근'
}

frequency_dict={
    'Apple':'3',
    'Banana':'5',
    'Carrot':'7'
}

word=pd.Series(word_dict)
frequency=pd.Series(frequency_dict)

#이름(Name):값(Value)
summary =pd.DataFrame({
    'word':word,
    'frequency':frequency
})
print(summary)

#Apple, Banana, Carrot같은 index를 기준으로 묶여진다.

       word frequency
Apple    사과         3
Banana  바나나         5
Carrot   당근         7

시리즈의 연산

In [ ]:
import pandas as pd
word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근'
}

frequency_dict={
    'Apple':3,
    'Banana':5,
    'Carrot':7
}
importance_dict={
    'Apple':3,
    'Banana':2,
    'Carrot':1
}

word=pd.Series(word_dict)
frequency=pd.Series(frequency_dict)
importance=pd.Series(importance_dict)

summary =pd.DataFrame({
    'word':word,
    'frequency':frequency,
    'importance':importance
})

score=summary['frequency']*summary['importance']
summary['score']=score #이를 통해 score라는 시리즈를 만듬과 동시에 값을 저장
print(summary)

       word  frequency  importance  score
Apple    사과          3           3      9
Banana  바나나          5           2     10
Carrot   당근          7           1      7

데이터 프레임의 슬라이싱

In [ ]:
import pandas as pd
word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근',
    'Durian':'두리안'
}

frequency_dict={
    'Apple':3,
    'Banana':5,
    'Carrot':7,
    'Durian':2
}
importance_dict={
    'Apple':3,
    'Banana':2,
    'Carrot':1,
    'Durian':1
}
word=pd.Series(word_dict)
frequency=pd.Series(frequency_dict)
importance=pd.Series(importance_dict)

summary=pd.DataFrame({
    'word':word,
    'frequemcy':frequency,
    'importance':importance
})
print(summary)

#이름을 기준으로 슬라이싱
print(summary.loc['Banana':'Carrot','importance':])

#인덱스를 기준으로 슬라이싱
print(summary.iloc[1:3,1:])

       word  frequemcy  importance
Apple    사과          3           3
Banana  바나나          5           2
Carrot   당근          7           1
Durian  두리안          2           1
        importance
Banana           2
Carrot           1
        frequemcy  importance
Banana          5           2
Carrot          7           1

데이터 프레임의 연산

In [ ]:
import pandas as pd
word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근',
    'Durian':'두리안'
}

frequency_dict={
    'Apple':3,
    'Banana':5,
    'Carrot':7,
    'Durian':2
}
importance_dict={
    'Apple':3,
    'Banana':2,
    'Carrot':1,
    'Durian':1
}
word=pd.Series(word_dict)
frequency=pd.Series(frequency_dict)
importance=pd.Series(importance_dict)

summary=pd.DataFrame({
    'word':word,
    'freqeuncy':frequency,
    'importance':importance
  
})

print(summary)

summary.loc['Apple','importance']=5 #기존의 데이터 변경
summary.loc['Elderberry']=['엘더베리',5,3] # 새로운 데이터 삽입
print(summary)

       word  freqeuncy  importance
Apple    사과          3           3
Banana  바나나          5           2
Carrot   당근          7           1
Durian  두리안          2           1
            word  freqeuncy  importance
Apple         사과          3           5
Banana       바나나          5           2
Carrot        당근          7           1
Durian       두리안          2           1
Elderberry  엘더베리          5           3

엑셀로 내보내기/불러오기

In [ ]:
import pandas as pd
word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근'
}

frequency_dict={
    'Apple':3,
    'Banana':5,
    'Carrot':7
}


word=pd.Series(word_dict)
frequency=pd.Series(frequency_dict)

summary=pd.DataFrame({
    'word':word,
    'frequency':frequency
})

summary.to_csv('summary.csv',encoding="utf-8-sig") #한글값 처리를 위해 encoding="utf-8-sig"
saved=pd.read_csv("summary.csv",index_col=0)
print(saved)

       word  frequency
Apple    사과          3
Banana  바나나          5
Carrot   당근          7

# Pandas의 연산과 함수

데이터 프레임의 Null 여부 확인

In [ ]:
import pandas as pd
import numpy as np

word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근',
    'Durian':'두리안'
}
frequency_dict={
    'Apple':3,
    'Banana':5,
    'Carrot':np.nan, #nan = Not a number의 줄임말
    'Durian':2
}
importance_dict={
    'Apple':3,
    'Banana':2,
    'Carrot':1,
    'Durian':1
}

word=pd.Series(word_dict)
frequency=pd.Series(frequency_dict)
importance=pd.Series(importance_dict)

summary=pd.DataFrame({
    'word':word,
    'frequency':frequency,
    'importance':importance
})

print(summary)
print(summary.notnull()) #null값이 아닌 data만 True로 반환
print(summary.isnull()) #null값인 data만 True로 반환
summary['frequency'] = summary['frequency'].fillna('데이터 없음')
print(summary)

       word  frequency  importance
Apple    사과        3.0           3
Banana  바나나        5.0           2
Carrot   당근        NaN           1
Durian  두리안        2.0           1
        word  frequency  importance
Apple   True       True        True
Banana  True       True        True
Carrot  True      False        True
Durian  True       True        True
         word  frequency  importance
Apple   False      False       False
Banana  False      False       False
Carrot  False       True       False
Durian  False      False       False
       word frequency  importance
Apple    사과         3           3
Banana  바나나         5           2
Carrot   당근    데이터 없음           1
Durian  두리안         2           1

시리즈 자료형의 연산

In [ ]:
import pandas as pd
array1=pd.Series([1,2,3], index=['A','B','C'])
array2=pd.Series([4,5,6],index=['B','C','D'])
array=array1.add(array2,fill_value=0) #fill_value=0 은 데이터가 한쪽에만 존재하면 다른 쪽에는 0이라는 초기값을 넣어줌
print(array)

A    1.0
B    6.0
C    8.0
D    6.0
dtype: float64

데이터 프레임 자료형의 연산(덧셈)

  array1 array2       array
A   1      0            1
B   2      4            6
C   3      5            8
D   0      6            6

In [ ]:
import pandas as pd
array1=pd.DataFrame([[1,2],[3,4]],index=['A','B'])
array2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['B','C','D'])

print(array1)
print(array2)

array=array1.add(array2,fill_value=0)
print(array)

   0  1
A  1  2
B  3  4
   0  1  2
B  1  2  3
C  4  5  6
D  7  8  9
     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0

데이터 프레임 집계 함수

In [ ]:

import pandas as pd
array1=pd.DataFrame([[1,2],[3,4]],index=['A','B'])
array2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['B','C','D'])

array=array1.add(array2,fill_value=0)
print(array)
print("컬럼 1의 합: ",array[1].sum()) #오로지 1 Series에 대한 합계
print(array.sum()) #모든 Series에 대한 합계

     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0
컬럼 1의 합:  21.0
0    16.0
1    21.0
2    18.0
dtype: float64

데이터 프레임 정렬 함수

In [ ]:
import pandas as pd
import numpy as np
word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근',
    'Durian':'두리안'
}
frequency_dict={
    'Apple':3,
    'Banana':5,
    'Carrot':1,
    'Durian':2
}
importance_dict={
    'Apple':3,
    'Banana':2,
    'Carrot':1,
    'Durian':1
}
word=pd.Series(word_dict)
frequency=pd.Series(frequency_dict)
importance=pd.Series(importance_dict)

summary=pd.DataFrame({
    'word':word,
    'frequency':frequency,
    'importance':importance
})

print(summary)
summary=summary.sort_values('frequency',ascending=False) # frequency Series를 기준으로 데이터 내림차순정렬
print(summary)

       word  frequency  importance
Apple    사과          3           3
Banana  바나나          5           2
Carrot   당근          1           1
Durian  두리안          2           1
       word  frequency  importance
Banana  바나나          5           2
Apple    사과          3           3
Durian  두리안          2           1
Carrot   당근          1           1

# Pandas의 활용

데이터 프레임의 마스킹

In [ ]:
import numpy as np
import pandas as pd

#랜덤 값 저장
df=pd.DataFrame(np.random.randint(1,10,(2,2)),index=[0,1],columns=["A","B"])
print(df)#데이터 프레임 출력
print('\n')
print(df["A"]<=5)#columns A의 각 원소가 5보자 작거나 같은지 출력
print('\n')
#마스킹 연산을 쿼리 형태로 작성하기
print(df.query("A <=5 and B <=8"))#coulmn A의 원소는 5보자 같거나 작고, B의 원소는 8보다 작거나 같은 행 추출

   A  B
0  1  6
1  1  3


0    True
1    True
Name: A, dtype: bool


   A  B
0  1  6
1  1  3

데이터 프레임의 개별 연산 1

In [ ]:
import pandas as pd
df=pd.DataFrame([[1,2,3,4],[1,2,3,4]],index=[0,1],columns=['A','B','C','D'])
print(df,'\n')

#apply()함수의 안에 함수 형태의 명령어를 입력하면, 데이터가 해당 함수의 값으로 들어간다.
#apply()함수와 lambda를 이용해 전체 요소에 +1
df=df.apply(lambda x:x+1)
print(df,'\n')

#+1하여 반환하는 함수 설정
def addOne(x):
  return x+1

#apply()함수와 addOne함수를 이용해 전체 요소에 +1
df=df.apply(addOne)
print(df)

   A  B  C  D
0  1  2  3  4
1  1  2  3  4

   A  B  C  D
0  2  3  4  5
1  2  3  4  5

   A  B  C  D
0  3  4  5  6
1  3  4  5  6

데이터 프레임의 개별 연산 2

In [ ]:
import pandas as pd

df=pd.DataFrame([
                 ['Apple','Apple','Carrot','Banana'],
                 ['Durian','Banana','Apple','Carrot']],
                index=[0,1],
                columns=['A','B','C','D'])

print(df,'\n')

#모든 'Apple'을 'Airport'로 변환
df=df.replace({"Apple":"Airport"})
print(df)

        A       B       C       D
0   Apple   Apple  Carrot  Banana
1  Durian  Banana   Apple  Carrot

         A        B        C       D
0  Airport  Airport   Carrot  Banana
1   Durian   Banana  Airport  Carrot

데이터 프레임의 그룹화 1

In [ ]:
import pandas as pd

df=pd.DataFrame([
                 ['Apple',7,'Fruit'],
                 ['Banana',3,'Fruit'],
                 ['Beef',5,'Meal'],
                 ['Kimchi',4,'Meal']],
                 columns=["Name","Frequency","Type"])

print(df)
#Type별로 합계를 낸다.

print(df.groupby(['Type']).sum())

     Name  Frequency   Type
0   Apple          7  Fruit
1  Banana          3  Fruit
2    Beef          5   Meal
3  Kimchi          4   Meal
       Frequency
Type
Fruit         10
Meal           9

데이터 프레임의 그룹화 2

In [ ]:
import numpy as np
import pandas as pd

df=pd.DataFrame([
                 ['Apple',7,5,'Fruit'],
                 ['Banana',3,6,'Fruit'],
                 ['Beef',5,2,'Meal'],
                 ['Kimchi',4,8,'Meal']],
                columns=["Name",'Frequency','Importance','Type'])

print(df)
#aggregate([min,max,average]) = min, max,avg를 한꺼번에 구해 출력
#aggregate함수가 여러가지 연산을 동시에 수행하게 해줌
print(df.groupby(["Type"]).aggregate([min,max,np.average]))

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal
      Frequency             Importance
            min max average        min max average
Type
Fruit         3   7     5.0          5   6     5.5
Meal          4   5     4.5          2   8     5.0
     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit

데이터 프레임의 그룹화 3

In [ ]:
import numpy as np
import pandas as pd

df=pd.DataFrame([
                 ['Apple',7,5,'Fruit'],
                 ['Banana',3,6,'Fruit'],
                 ['Beef',5,2,'Meal'],
                 ['Kimchi',4,8,'Meal']],
                columns=["Name",'Frequency','Importance','Type'])
def my_filter(data):
  #Frequency의 평균값(mean)이 5이상인 애들만 반환
  return data["Frequency"].mean()>=5

print(df,'\n')

df=df.groupby("Type").filter(my_filter)
print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit

데이터 프레임의 그룹화 4

In [ ]:
import pandas as pd



df=pd.DataFrame([
                 ['Apple',7,5,'Fruit'],
                 ['Banana',3,6,'Fruit'],
                 ['Beef',5,2,'Meal'],
                 ['Kimchi',4,8,'Meal']],
                columns=["Name",'Frequency','Importance','Type'])
#'Fruit' type의 data만 가져옴
df=df.groupby('Type').get_group("Fruit")
print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit

데이터 프레임의 그룹화 5

In [ ]:
import pandas as pd
df=pd.DataFrame([
                 ['Apple',7,5,'Fruit'],
                 ['Banana',3,6,'Fruit'],
                 ['Beef',5,2,'Meal'],
                 ['Kimchi',4,8,'Meal']],
                columns=["Name",'Frequency','Importance','Type'])
#Gap = 각 요소의 Frequency -Type별 평균Frequency를 
df["Gap"]=df.groupby("Type")["Frequency"].apply(lambda x:x-x.mean())
print(df)

     Name  Frequency  Importance   Type  Gap
0   Apple          7           5  Fruit  2.0
1  Banana          3           6  Fruit -2.0
2    Beef          5           2   Meal  0.5
3  Kimchi          4           8   Meal -0.5

데이터 프레임의 다중화

In [ ]:
import numpy as np
import pandas as pd

df=pd.DataFrame(
    np.random.randint(1,10,(4,4)),
    index=[['1차','1차','2차','2차'],['공격','수비','공격','수비']],
    columns=['1회','2회','3회','4회']
)

print(df)
#'1회','2회'에 대하여 '2차'에 수행된 것만 가져오라.
print(df[['1회','2회']].loc['2차'])

       1회  2회  3회  4회
1차 공격   5   4   9   5
   수비   3   3   7   2
2차 공격   1   7   7   7
   수비   5   3   5   3
    1회  2회
공격   1   7
수비   5   3

피벗 테이블의 기초

In [ ]:
import pandas as pd
import numpy as np

df=pd.DataFrame([
                 ['Apple',7,5,'Fruit'],
                 ['Banana',3,6,'Fruit'],
                 ['Coconut',2,6,'Fruit'],
                 ['Rice',8,2,'Meal'],
                 ['Beef',5,2,'Meal'],
                 ['Kimchi',4,8,'Meal']],
                columns=["Name",'Frequency','Importance','Type'])
print(df,'\n')
#피벗테이블 함수를 이용하여 index=Importance로, 열은 Type, 값은 Frequency를 넣어준다.
df=df.pivot_table(
    index='Importance',columns='Type',values='Frequency',
    aggfunc=np.max #같은 Importance에 관한 Frequency중 더 큰 값을 사용
)
print(df)

      Name  Frequency  Importance   Type
0    Apple          7           5  Fruit
1   Banana          3           6  Fruit
2  Coconut          2           6  Fruit
3     Rice          8           2   Meal
4     Beef          5           2   Meal
5   Kimchi          4           8   Meal

Type        Fruit  Meal
Importance
2             NaN   8.0
5             7.0   NaN
6             3.0   NaN
8             NaN   4.0